<h1>Hi! Confirmez votre adresse email!</h1>

<p>
    S'il vous plait confirmez votre adresse email en cliquant sur le lien ci-dessus: <br><br>
    <a href="{{ signedUrl|raw }}">Je confirme  mon adresse email</a>.
    Ce lien expirera dans  {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    Merci!
</p>
