<div class="cart-overlay"></div>
<div class="cart">
	<div class="cart-header">
		<i class="bi bi-arrow-right cart-close"></i>
		<h2>Votre panier</h2>
	</div>

	<div class="cart-body"></div>

	<div class="cart-footer" style="">
		<div>
			<strong>Total</strong>
			<span class="cart-total">0</span>
		</div>
		<button class="cart-clear">Vider le panier</button>
		<button class="checkout">
			<a href="{{path('app_shop_checkout')}}">Continuer</a>
		</button>
	</div>

</div>
