//$primary-color: #3ec1d5;
$primary-color: #010207;
$primary-color-second: #ff017e;
$black-color: #1c1e21;
$light-color: #f2f2f2;
$searbarbg: #002950;
$blue-color: #3ec1d5;
$green-color: #00A36C;
$yello-color: #f48b07;