//$primary-color: #3ec1d5;
$primary-color: #010207;
$primary-color-second: #ff017e;
$black-color: #1c1e21;
$light-color: #f2f2f2;
$searbarbg: #002950;
$blue-color: #3ec1d5;
$green-color: #00A36C;
$yello-color: #f48b07;
$color1:#0c0c0c;
$color2: #4a646c;
$color3: #3e24e1;
$color4: #9d9171;
$color5: #4a646c;
$color6: #4a646c;
$color7: #333;
$color8: #fff;
$transition: all 0.3s ease-in-out;