{% extends 'emails/base.html.twig' %} {% block title %}Réinitialisation de mot de passe
{% endblock %} {% block body %}
<p>
  Pour votre demande de réinitialisation de mot de passe, veuillez cliquer sur le lien suivant :
</p>

<p>
  <a href="{{ url | raw }}">{{ url | raw }}</a>
</p>

{% endblock %}
